
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: Noto+Sans+Vithkuqi;
}

:root{
    --bg-color: #000000;
    --second-bg-color: #383737;
    --text-color:#fff;
    --main-color:#ffff00;
    --light-heading-color:#f9f9f9;

}

::-webkit-scrollbar{
    width: 12px;

}

::-webkit-scrollbar-thumb{
    background: #ffff00;
    border-radius: 6px;

}

#loader {
    width: 100vw;
    height: 100vh;
    border: 1px solid white;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}

#loader > div {
    width: 300px;
    height: 300px;
    background: url("assets/loading.gif");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

}

html{
    font-size: 62%;
    overflow-x:hidden;

}

body{
    background: var(--bg-color);
    color: var(--text-color);
    /*background: url("assets/burn.gif");*/

}

section{
    min-height: 100vh;
    padding: 8rem 9% 2rem;

}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo{
    font-size: 3rem;
    color: var(--main-color);
    font-weight: 600;
    cursor: default;

}

.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 2rem;
    transition-property: all;
    transition: .3s;
    font-family: 'Poppins', sans-serif;

}

.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
    transition-property: all;
    font-size: 2rem;
    transition: .3s;

}

.topBar{
    width: 100%;
    background-color: #ffff00;
    height: 5px;
    position: absolute;
    left: 0rem;
    top: 7.3rem;

}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("assets/burn.gif");
    /*background-size: cover;*/
}

.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;

}

.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;

}

span{
    color: var(--main-color);

}

.home-content h1{
    font-weight: 700;
    font-size: 6rem;
    line-height: 1.3;

}

.home-content p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;

}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .1rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;

}

.social-media a:hover{
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);

}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s;

}

.btn:hover{
    box-shadow: none;

}

.home-img>img{
    position: relative;
    border-style: none;
    width: 24vw;
    top: 59px;
    left: 70px;

}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    /*background: var(--second-bg-color);*/
    background: url("assets/burn.gif");
}

.about-image{
    position: relative;
    flex-basis: 30%;
    height: 400px;
    max-height: 450px;
    right: 5rem;
    background-color: var(--light-heading-color);
}

.about-desc{
    flex-basis: 65%;
    margin-left: 3%;
}

.about-image::before{
    position: absolute;
    content: '';
    width: calc(100% - 15px);
    height: calc(100% - 15px);
    outline: 3px solid var(--light-heading-color);
    top: -10px;
    left: -10px;
    z-index: 1;
}

.about-image img{
    position: relative;
    width: 100%;
    min-width: 280px;
    height: 100%;
    object-fit: cover;
    z-index: 2;
}

.about-image .social-media{
    position: absolute;
    top: 50%;
    left: calc(100% - 10px);
    transform: translate(-50%, -50%);
    z-index: 3;
    background-color: var(--bg-color);
    padding: 15px;
    border-radius: 5px;
}

.about-image .social-media i{
    color: var(--text-color);
    margin: 8px 0px;
    cursor: pointer;
    transition: 0.4s;
}

.about-image .social-media i:hover{
    transform: scale(1.2);
}

.about-heading{
    text-align: center;
    font-size: 4.5rem;
    position: relative;
    bottom: 50px;

}

.heading{
    text-align: center;
    font-size: 4.5rem;
}

.sub-heading{
    text-align: center;
    font-size: 3.5rem;
    color: #FFFF00FF;
}

.about-content h2{
    text-align: left;
    line-height: 1.2;

}

.about-content h3{
    font-size: 2.6rem;

}

.about-content p{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    margin: 2rem 0 3rem;
}

/*Service -----------------------*/

.services h2{
    margin-bottom: 5rem;

}

.service-background{
    background: url("assets/burn.gif");
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

}

.services-container .services-box{
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}

.services-box p{
    font-family: 'Poppins', sans-serif;
}

.services-container .services-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);

}

.services-box i{
    font-size: 7rem;
    color: var(--main-color);
    transition-property: all;
    transition-duration: .5s;
}

.services-box i:hover{
    transform: rotate(360deg);
    transition-property: all;
    transition-duration: .5s;
}

.services-box h3{
    font-size: 2.6rem;

}

.services-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;

}

/*Skills form --------------------- */

.education{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
    /*background: var(--second-bg-color)*/
    background: url("assets/burn.gif");
}

.education .education-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;

}

.education-row .education-column{
    flex: 1 1 40rem;

}

.education-column .title{
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}

.education-column .education-box{
    border-left: .2rem solid var(--main-color);

}

.education-box .education-content{
    position: relative;
    padding-left: 2rem;
}

.education-box .education-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background-color: var(--main-color);
    border-radius: 50%;

}

.education-content .content{
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

.education-content .content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;

}

.education-content .content:hover::before{
    width: 100%;
}

.education-content .content.year{
    font-size: 1.5rem;
    color: var(--main-color);
    padding-bottom: .5rem;

}

.education-content .content .year i{
    padding-right: .5rem;
}

.education-content .content h3{
    font-size: 2rem;
}

.education-content .content p {
    font-size: 1.6rem;
    padding-top: .5rem;
}

.img{
    width: 80px;
}

.img:hover{
    width: 70px;
    transition-duration: .5s;
}

/* Certificate design ------------ ----------------*/

.certificate{
    padding-bottom:10rem;
    background: url("assets/burn.gif");
}

.certificate h2{
    margin-bottom:4rem;

}

.certificate h4{
    font-size: 3rem;
}

.certificate .certificate-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;

}

.certificate-container .certificate-box{
    position: relative;
    display: flex;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.1);
    overflow: hidden;

}

.certificate-box img{
    width: 100%;
    transition: .5s ease;
}
.certificate-box:hover img{
    transform: scale(1.1);
}

.certificate-box .certificate-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1),var(--main-color));
    color: var(--text-color);
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    opacity: 0;
    transition: .1s none;
}

.certificate-box:hover .certificate-layer{
    opacity:2;
}

.certificate-layer h4{
    font-size: 3rem;
}

.certificate-layer p{
    font-size: 1.6rem;
    margin:.3rem 0 1rem;
}

.certificate-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--main-color);
    border-radius: 50%;
}

.certificate-layer a i{
    font-size: 2rem;
    color: var(--second-bg-color);
}

/* Project --------------------------------------*/

.portfolio{
    background: var(--second-bg-color);
    background: url("assets/burn.gif");

}
.portfolio h2{
    margin-bottom: 4rem;

}

.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-container .portfolio-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.portfolio-box img{
    width: 100%;
    transition: .5s ease;
}

.portfolio-box:hover img{
    transform: scale(1.1);
}


.portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient( rgba(0, 0, 0,.1),var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;

}

.portfolio-box:hover .portfolio-layer{
    transform: translateY(0);
}

.portfolio-layer h4{
    font-size: 3rem;
}

.portfolio-layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;

}

.portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portfolio-layer a i{
    font-size: 2rem;
    color: var(--second-bg-color);
}

/*My Assignment ----------------------*/

.assignment{
    padding-bottom:10rem;
    background: var(--bg-color);
    background: url("assets/burn.gif");

}

.assignment h2{
    margin-bottom:4rem;

}

.assignment h4{
    font-size: 3rem;
}

.assignment .assignment-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;

}

.assignment-container .assignment-box{
    position: relative;
    display: flex;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(0,0,0,.1);
    overflow: hidden;

}

.assignment-box img{
    width: 100%;
    transition: .5s ease;
}
.assignment-box:hover img{
    transform: scale(1.1);
}

.assignment-box .assignment-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1),var(--main-color));
    color: var(--text-color);
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    opacity: 0;
    transition: .5s ease;
}

.assignment-box:hover .assignment-layer{
    opacity:1;
}

.assignment-layerh4{
    font-size: 3rem;
}

.assignment-layer p{
    font-size: 1.6rem;
    margin:.3rem 0 1rem;
}

.assignment-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--main-color);
    border-radius: 50%;
}

.assignment-layer a i{
    font-size: 2rem;
    color: var(--second-bg-color);
}

.btn-see-more{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 4rem;
}

.btn-see-more2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 2.5rem;
}

/*Gallery Form --------------------------------------------*/

.gallery h2{
    margin-bottom: 5rem;

}

.background-gallery{
    background: var(--second-bg-color);
    background: url("assets/burn.gif");
}

.gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem;

}

.gallery-container .gallery-box{
    flex: 1 1 30rem;
    background: var(--bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--text-color);
    transition: .5s ease;
}

.gallery-container .gallery-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}
.gallery-box img{
    width: 100%;
    transition: .5s ease;
}

.gallery-box h3{
    font-size: 2.6rem;
}

.gallery-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;

}

/*Contact form  --------------------------------------------*/
.contact{
    background: var(--bg-color);
    background: url("assets/burn.gif");
}
.contact h2{
    margin-bottom: 3rem;
}

.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;

}

.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.contact form .input-box input,
.contact form textarea {

    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;

}

.contact form .input-box input{
    width: 49%;

}
.contact form textarea {
    resize: none;

}

.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
}

/*footer design ----------------------------------------- */

section.page-footer{
    width: 100%;
    padding: 70px 8% 50px;
    background-color: var(--second-bg-color);
    color: var(--text-color);
}

.page-footer .footer-contents{
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 2fr 2fr;
    grid-gap: 40px;
}

.footer-contents .footer-col{
    display: flex;
    flex-direction: column;
}

.footer-contents .footer-col .footer-col-title{
    margin-bottom: 20px;
}

.footer-col .footer-col-title h3{
    font-size: 24px;
    color: var(--light-heading-color);
    text-transform: capitalize;
}

.footer-contents .footer-col .footer-col-desc{
    display: flex;
    flex-direction: column;
}

.footer-col-1 .footer-col-desc p{
    line-height: 1.4;
    color: var(--light-heading-color);
    margin-bottom: 10px;
    font-size: 1.3rem;
}

.footer-col-1 .footer-col-desc span{
    color: var(--light-heading-color);
    margin-bottom: 17px;
    display: inline-block;
    font-size: 1.3rem;
}

.footer-col-1 .footer-col-desc span:nth-of-type(1){
    margin-top: 15px;
    font-size: 1.3rem;
}

.footer-col-1 .footer-social-media{
    display: flex;
    margin-top: 20px;
}

.footer-col-1 .footer-social-media a{
    text-decoration: none;
    color: var(--light-heading-color);
    margin-right: 10px;
}

.footer-col-1 .footer-social-media a i{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background-color: var(--main-color);
    color: var(--bg-color);
    border: 1px solid transparent;
    border-radius: 5px;
    transition: all 0.3s;
}

.footer-col-1 .footer-social-media a i:hover{
    background-color: transparent;
    border: 1px solid var(--main-color);
    color: var(--main-color);
}

.footer-col-2 .footer-col-desc a{
    text-decoration: none;
    font-size: 16px;
    color: var(--light-heading-color);
    letter-spacing: 1px;
    margin-bottom: 17px;
    transition: 0.3s;
}

.footer-col-2 .footer-col-desc a:hover{
    color: var(--main-color);
}

.footer-col-3 .footer-col-desc p{
    color: var(--text-color);
    line-height: 1.4;
    font-size: 1.3rem;
}

.footer-col-3 .footer-col-desc input{
    width: 100%;
    padding: 15px;
    margin: 20px 0px 15px;
    background-color: var(--light-heading-color);
    color: var(--second-bg-color);
    border: none;
    border-radius: 25px;
}

.copy-rights{
    width: 100%;
    padding: 30px 8%;
    background-color: var(--bg-color);
    border-top: 1px solid #333;
}

.copy-rights p{
    color: var(--light-heading-color);
    text-align: center;
}

.copy-rights p b{
    color: var(--main-color);
}


@media all and (min-width: 320px) and (max-width: 375px) {

    section{
        min-height: 100vh;
        padding: 10rem 9% 2rem;

    }

    .header{
        height: 17%
    }

    .logo {
        font-size: 1rem;
        position: relative;
        bottom: 11px;
        /*display: none;*/
    }

    .navbar a {
        font-size: 1rem;
        margin: 0;
        position: relative;
        top: 17px;
        padding: 0.3rem;
    }

    .topBar {
        display: none;
    }

    .home-content h1 {
        font-size: 4.6rem;
    }

    .social-media a {
        width: 2rem;
        height: 2.1rem;
    }

    .home-img>img {
        position: relative;
        width: 28vw;
        top: 243px;
        left: 18px;
    }

    .about-image img{
        display: none;
    }

    .about-image {
        display: none;
    }

    .certificate .certificate-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .portfolio-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .assignment .assignment-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-col .footer-col-title h3 {
        display: none;
    }

    .footer-col-3 .footer-col-desc p {
        display: none;
    }

    .footer-col-3 .footer-col-desc input {
        display: none;
    }

    #visible {
        display: none;
    }

    .footer-col-2 .footer-col-desc a {
        font-size: 12px;
        position: relative;
        right: 1rem;
    }
}

@media all and (min-width: 375px) and (max-width: 425px) {

    section{
        min-height: 100vh;
        padding: 10rem 9% 2rem;

    }

    .header{
        height: 17%
    }

    .logo {
        font-size: 2rem;
        right: 14px;
        position: relative;
        bottom: 11px;
        /*display: none;*/
    }

    .navbar a {
        font-size: 1.2rem;
        margin: 0;
        position: relative;
        top: 17px;
        padding: 0.3rem;
    }
    .topBar {
        display: none;
    }

    .home-content h1 {
        font-size: 4.6rem;
    }

    .social-media a {
        width: 2rem;
        height: 2.1rem;
    }

    .home-img>img {
        position: relative;
        width: 29vw;
        top: 232px;
        left: 18px;
    }

    .about-image img{
        display: none;
    }

    .about-image {
        display: none;
    }

    .certificate .certificate-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .portfolio-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .assignment .assignment-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .social-media-footer a {
        width: 3rem;
        height: 3rem;
    }

    .footer-col .footer-col-title h3 {
        display: none;
    }

    .footer-col-3 .footer-col-desc p {
        display: none;
    }

    .footer-col-3 .footer-col-desc input {
        display: none;
    }

    #visible {
        display: none;
    }

    .footer-col-2 .footer-col-desc a {
        font-size: 13px;
    }
}

@media all and (min-width: 425px) and (max-width: 768px) {

    section{
        min-height: 100vh;
        padding: 10rem 9% 2rem;

    }

    .header{
        height: 17%
    }

    .logo {
        font-size: 2rem;
        right: 14px;
        position: relative;
        bottom: 11px;
    }

    .navbar a {
        font-size: 1.5rem;
        margin: 0;
        position: relative;
        top: 17px;
        padding: 0.3rem;
    }

    .topBar {
        width: 100%;
        background-color: #ffff00;
        height: 5px;
        position: absolute;
        left: 0rem;
        top: 9.8rem;
    }

    .home-content h1 {
        font-size: 4.6rem;
    }

    .social-media a {
        width: 2rem;
        height: 2.1rem;
    }

    .home-img > img {
        position: relative;
        width: 30vw;
        top: 190px;
        left: 18px;
    }

    .about-image img{
        display: none;
    }

    .about-image {
        display: none;
    }

    .certificate .certificate-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .portfolio-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .assignment .assignment-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .social-media-footer a {
        width: 3rem;
        height: 3rem;
    }

    .footer-col .footer-col-title h3 {
        display: none;
    }

    .footer-col-3 .footer-col-desc p {
        display: none;
    }

    .footer-col-3 .footer-col-desc input {
        display: none;
    }

    #visible {
        display: none;
    }

}

@media all and (min-width: 768px) and (max-width: 1024px) {

    section{
        min-height: 100vh;
        padding: 10rem 9% 2rem;

    }

    .header {
        height: 17%
    }

    .logo {
        font-size: 2.5rem;
        right: 14px;
        position: relative;
        top: 16px;
        /*display: none;*/
    }

    .navbar a {
        font-size: 1.5rem;
        margin: 0;
        position: relative;
        top: 17px;
        padding: 0.3rem;
    }

    .topBar {
        width: 100%;
        background-color: #ffff00;
        height: 5px;
        position: absolute;
        left: 0rem;
        top: 9.8rem;
    }

    .home-content h1 {
        font-size: 4.6rem;
    }

    .social-media a {
        width: 2.5rem;
    }

    .home-img > img {
        position: relative;
        width: 30vw;
        top: 103px;
        left: 18px;
    }

    .about-image img {
        display: none;
    }

    .about-image {
        display: none;
    }

    .certificate .certificate-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .assignment .assignment-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .social-media-footer a {
        width: 3rem;
        height: 3rem;
    }

    .footer-col .footer-col-title h3 {
        display: none;
    }

    .footer-col-3 .footer-col-desc p {
        display: none;
    }

    .footer-col-3 .footer-col-desc input {
        display: none;
    }

    #visible {
        display: none;
    }

    .footer-col-2 .footer-col-desc a {
        position: relative;
        left: 17rem;
        font-size: 15px;
    }
}

@media all and (min-width: 1024px) and (max-width: 1440px){
    .home-img > img {
        position: relative;
        width: 30vw;
        top: 47px;
        left: 18px;
    }
}
