
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: Noto+Sans+Vithkuqi;
}
:root{
    --bg-color:#212B2A;
    --second-bg-color: #383737;
    --text-color:#fff;
    --main-color:#ffff00;

}

::-webkit-scrollbar{
    width: 12px;

}

::-webkit-scrollbar-thumb{
    background: #ffff00;
    border-radius: 6px;

}

html{
    font-size: 62%;
    overflow-x:hidden;

}

body{
    background: var(--bg-color);
    color: var(--text-color);

}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;

}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo{
    font-size: 3rem;
    color: var(--main-color);
    font-weight: 600;
    cursor: default;

}

.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 2rem;
    transition-property: all;
    transition: .3s;

}

.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
    transition-property: all;
    font-size: 2rem;
    transition: .3s;

}

.topBar{
    width: 100%;
    background-color: #ffff00;
    height: 5px;
    position: absolute;
    left: 0px;
    top: 67px;

}

.home{
    display: flex;
    justify-content: center;
    align-items: center;

}

.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;

}

.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;

}

span{
    color: var(--main-color);

}

.home-content h1{
    font-weight: 700;
    font-size: 5.6rem;
    line-height: 1.3;

}

.home-content p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;

}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .1rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;

}

.social-media a:hover{
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);

}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s;

}

.btn:hover{
    box-shadow: none;

}

.home-img>img{
    position: relative;
    border-style: none;
    width: 24vw;
    top: 25px;
    left: 70px;

}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);

}

.about-img img{
    width: 30vw;
    position: relative;
    right: 50px;
    bottom: 20px;

}

.about-heading{
    text-align: center;
    font-size: 4.5rem;
    position: relative;
    bottom: 50px;

}

.heading{
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2{
    text-align: left;
    line-height: 1.2;

}

.about-content h3{
    font-size: 2.6rem;

}

.about-content p{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    margin: 2rem 0 3rem;
}

/*Service -----------------------*/

.services h2{
    margin-bottom: 5rem;

}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

}

.services-container .services-box{
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}

.services-container .services-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);

}

.services-box i{
    font-size: 7rem;
    color: var(--main-color);

}

.services-box h3{
    font-size: 2.6rem;

}

.services-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;

}

/*Skills form --------------------- */

.education{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
    background: var(--second-bg-color)

}

.education .education-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;

}

.education-row .education-column{
    flex: 1 1 40rem;

}

.education-column .title{
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}

.education-column .education-box{
    border-left: .2rem solid var(--main-color);

}

.education-box .education-content{
    position: relative;
    padding-left: 2rem;
}

.education-box .education-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background-color: var(--main-color);
    border-radius: 50%;

}


.education-content .content{
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

.education-content .content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;

}

.education-content .content:hover::before{
    width: 100%;
}


.education-content .content.year{
    font-size: 1.5rem;
    color: var(--main-color);
    padding-bottom: .5rem;

}

.education-content .content .year i{
    padding-right: .5rem;
}

.education-content .content h3{
    font-size: 2rem;
}
.education-content .content p {
    font-size: 1.6rem;
    padding-top: .5rem;
}

.img{
    width: 80px;
}

.img:hover{
    width: 70px;
    transition-duration: .5s;
}


/* Certificate design ------------ ----------------*/

.certificate{
    padding-bottom:10rem;

}

.certificate h2{
    margin-bottom:4rem;

}

.certificate h4{
    font-size: 3rem;
}

.certificate .certificate-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;

}

.certificate-container .certificate-box{
    position: relative;
    display: flex;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.1);
    overflow: hidden;

}

.certificate-box img{
    width: 100%;
    transition: .5s ease;
}
.certificate-box:hover img{
    transform: scale(1.1);
}


.certificate-box .certificate-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1),var(--main-color));
    color: var(--text-color);
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    opacity: 0;
    transition: .1s none;
}

.certificate-box:hover .certificate-layer{
    opacity:2;
}


.certificate-layer h4{
    font-size: 3rem;
}

.certificate-layer p{
    font-size: 1.6rem;
    margin:.3rem 0 1rem;
}

.certificate-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--main-color);
    border-radius: 50%;
}

.certificate-layer a i{
    font-size: 2rem;
    color: var(--second-bg-color);
}

/* Project --------------------------------------*/

.portfolio{
    background: var(--second-bg-color);

}
.portfolio h2{
    margin-bottom: 4rem;

}

.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-container .portfolio-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.portfolio-box img{
    width: 100%;
    transition: .5s ease;
}

.portfolio-box:hover img{
    transform: scale(1.1);
}


.portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient( rgba(0, 0, 0,.1),var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;

}

.portfolio-box:hover .portfolio-layer{
    transform: translateY(0);
}


.portfolio-layer h4{
    font-size: 3rem;
}

.portfolio-layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;

}

.portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portfolio-layer a i{
    font-size: 2rem;
    color: var(--second-bg-color);
}


/*My Assignment ----------------------*/

.assignment{
    padding-bottom:10rem;
    background: var(--bg-color);;

}

.assignment h2{
    margin-bottom:4rem;

}

.assignment h4{
    font-size: 3rem;
}

.assignment .assignment-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;

}

.assignment-container .assignment-box{
    position: relative;
    display: flex;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(0,0,0,.1);
    overflow: hidden;

}

.assignment-box img{
    width: 100%;
    transition: .5s ease;
}
.assignment-box:hover img{
    transform: scale(1.1);
}


.assignment-box .assignment-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1),var(--main-color));
    color: var(--text-color);
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    opacity: 0;
    transition: .5s ease;
}

.assignment-box:hover .assignment-layer{
    opacity:1;
}


.assignment-layerh4{
    font-size: 3rem;
}

.assignment-layer p{
    font-size: 1.6rem;
    margin:.3rem 0 1rem;
}

.assignment-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--main-color);
    border-radius: 50%;
}

.assignment-layer a i{
    font-size: 2rem;
    color: var(--second-bg-color);
}
/*Gallery Form --------------------------------------------*/

.gallery h2{
    margin-bottom: 5rem;

}

.background-gallery{
    background: var(--second-bg-color);
}

.gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem;

}

.gallery-container .gallery-box{
    flex: 1 1 30rem;
    background: var(--bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--text-color);
    transition: .5s ease;
}

.gallery-container .gallery-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}
.gallery-box img{
    width: 100%;
    transition: .5s ease;
}

.gallery-box h3{
    font-size: 2.6rem;
}

.gallery-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;

}





/*Contact form  --------------------------------------------*/
.contact{
    background: var(--bg-color);
}
.contact h2{
    margin-bottom: 3rem;
}

.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;

}

.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.contact form .input-box input,
.contact form textarea {

    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;

}

.contact form .input-box input{
    width: 49%;

}
.contact form textarea {
    resize: none;

}

.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
}

/*footer design ----------------------------------------- */

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);

}

.footer-text p{
    position: relative;
    top: 5rem;
    font-size: 1.6rem;
    right: 300px;

}

.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover{
    box-shadow: 0 0 1rem var(--main-color);

}

.footer-iconTop i{
    font-size: 2rem;
}
.footer-iconTop p{
    font-size: 1.3rem;
}
.footer-iconTop a i{
    font-size: 4rem;

}

.footer-logo-align{
    position: relative;
    text-align: center;
    right: 300px;
}

.social-media-footer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: .1rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;

}

.social-media-footer a:hover{
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);

}

/*.box{*/
/*    width: 200px;*/
/*    height: 300px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: space-around;*/
/*    background-color: #929090;*/
/*}*/
/*.start{*/
/*    align-self: flex-start;*/
/*}*/
/*.center{*/
/*    align-self: center;*/
/*}*/
/*.end{*/
/*    align-self: flex-end;*/
/*}*/
/*body>section:nth-child(4){*/
/*    width: 90vw;*/
/*    height: 80vh;*/
/*    border: 2px solid black;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: space-around;*/
/*}*/

/*body>section:nth-child(4)>div{*/
/*    width: 100px;*/
/*    height: 300px;*/
/*    background-color: #444141;*/
/*}*/